.weekone{
border:2px dashed black;
Text-align:center;
background-color:blue;
}
li{
   font-weight:bold;
   color:red;
}
.two{
    color:red;
    font-family:Arial;
}
span{
    Text-align:center;
    color:green;
}
